.player{
    border: black solid 3px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}
.players{
    float: left;
    min-width: 150px;
}
#overlay{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#board{
    border: grey;
}
body{
    background-color: dimgray;
}
.box{
    background-color: antiquewhite;
    border: black solid 3px;
    min-width: 150px;
    min-height: 150px;
}
.notSelected:hover{
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgb(202, 190, 173);
}