* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: dimgray;
}
.joke {
  display: flex;
}
#jokeForm {
  min-width: 225px;
  height: 100%;
  margin-right: 20px;
  float: left;
  width: 15%;
  border-right: solid black 3px;
}
#jokeForm * {
  margin: 0;
  padding: 5px;
  margin-bottom: 20px;
}
input{
    overflow: hidden;
    width: 120px;
}
#catList{
  column-count: 2;
}
#catList li {
  height: 40px;
  list-style-type: none; /* Remove bullets */
  padding: 0;
  margin: 5px;
  border: solid rgb(43, 29, 172) 2px;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  /* vertical-align: middle; */
}
#catList li input{
  width: 20%;
}
ul {
  justify-content: space-between;
}
#jokeRes {
  max-width: fit-content;
  float: left;
  width: 75%;
}
table {
    text-align: left;
  width: 80%;
  border: solid black 3px;
  display: table-header-group;
}
tr {
  border-bottom: solid black 2px;
  padding-top: 10px;
  /* padding-bottom: 10px; */
  justify-content: space-between;
  text-align: left;
}
table tbody tr:nth-of-type(even),
table tbody tr:nth-of-type(even) * {
  background-color: #979797;
}
td {
  padding: 12px 15px;
}
table thead * {
  background-color: #424242;
  color: #ffffff;
  text-align: left;
}
